#main-heading{
    font-family: 'Recursive', sans-serif;
    text-align: center;
    margin-top: 75px;
}

#what-to-do{
    border: 2px solid red;
    padding: 20px;
    height: 25em;
    width: 33%;
}

.input-field{

   margin-left:0.3em;
   padding-left: 65px;
   padding-top: 5px;
   padding-bottom: 5px;
    
}

#first-button{
    padding-top: 6px;
    padding-bottom: 7px;
}